@font-face{
    font-family: "Jalnan";
    src: url("../fonts/Jalnan2TTF.ttf") format("truetype");
    font-style: normal;
}
@font-face{
    font-family: "NanumGiBbeumBarkEum";
    src: url("../fonts/NanumGiBbeumBarkEum.ttf") format("truetype");
    font-style: normal;
}
@font-face{
    font-family: "NanumHumanRegular";
    src: url("../fonts/NanumHumanRegular.ttf") format("truetype");
    font-style: normal;
}
@font-face{
    font-family: "GmarketSansTTFBold";
    src: url("../fonts/GmarketSansTTFBold.ttf") format("truetype");
    font-style: normal;
}